#welcome {
	background-color:#fdf5ce;
	border-style:solid;
    border-width:1px;
    border-color:#fbcb09;
    color:#c77405;
}

#menu {
    position:relative;
    top:10px;
    width:300px;
    height:600px;
}

#mainPage {
    position:absolute;
    top:40px;
    left:330px;
    width:700px;
    height:600px;
}