<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 設置ConsoleAppender讓logger輸出至console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="Trace" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yy/MM/dd HH:mm:ss}][%p][%C-%L] %m%n" />
		</layout>
	</appender>

	<!-- 設置DFA讓logger輸出成檔案放在tomcat的logs資料夾中 -->
	<appender name="DFA" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.home}/logs/log.out" />
		<param name="threshold" value="debug" />
		<param name="immediateFlush" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="append" value="true" />

		<!-- DatePattern是DailyRollingFileAppender的一個重要參數，用來設定檔案輸出的週期，設定為每日輸出新的log檔案 -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy/MMM/dd HH:mm:ss}] - %m%n" />
		</layout>
	</appender>

	<!-- rootLogger 一定要有 -->
	<root>
		<priority value="error" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="DFA" />
	</root>

	<!-- 設置logger -->
	<logger name="website" additivity="false">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="DFA" />
	</logger>

	<!-- 紀錄sql語句 -->
	<logger name="org.springframework.jdbc.core.JdbcTemplate">
		<level value="debug" />
	</logger>

	<!-- 紀錄sql語句的參數 -->
	<logger name="org.springframework.jdbc.core.StatementCreatorUtils">
		<level value="trace" />
	</logger>

</log4j:configuration>